# Actividad 3

**Parte I**
Transformación del tipo de dato.
Cruce de tablas.
Filtro de variables por algún tipo de criteri

Recomendaciones
Cargar la base de datos dada y empezar a revisar las variables.
Determinar el tipo de cada una de las variables.
Aplicar las funciones revisadas, según cada tipo de variable.
Realizar la limpieza de la variable NIT proveedor.
Transformar la variable del Nit.
Cruzar las bases de SECOP I con la del SECOP II.
Realizar un informe sobre las variables que se explo

**Parte II**

Identificación y alguna transformación del tipo de dato.
Filtro de variables por algún tipo de criterio.
Utilizar al menos 2 tipos de gráficos para variables seleccionadas

Cargar la base de datos dada y empezar a revisar las variables.
Determinar el tipo de cada una de las variables.
Aplicar las funciones revisadas, para la transformación del dato y cambiar su tipo.
Realizar filtros de tablas requeridos.
Realizar las gráficas de algunas variables seleccions.
 . aron. o.

# PARTE I

## 1. Importar librerías de Pandas

In [387]:
#Las librerias son modulos de python que contienen funciones y objetos que pueden ser utilizados para realizar tareas específicas. En este caso, las librerias matplotlib, seaborn y plotly son librerias de visualización de datos. Cada vez que se inicializa el entorno de ejecución, es necesario volver a cargar todas las librerias que se van a utilizar en el notebook.
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

## 2. Cargar base de datos

In [390]:
df1 = pd.read_csv('D:/Acer/Download/datos_secop_I_modified.csv')
df1.shape
df1.head(1)

,identificador_paa,codigo_entidad,nombre_entidad,nit_entidad,anno_paa,direccion_entidad,telefono_entidad,mision_y_vision,perspectiva_estrategica,info_contacto,ppto_total,limite_menor_cuantia,limite_minima_cuantia,fecha_ultima_actualizacion,fecha_cargue,municipio_paa,departamento_paa,localidad_paa,codigo_municipio
0,303062,28500134,CASANARE ESE HOSPITAL DE YOPAL !,891855029,2022,Calle 15 N 795 Manzana L via marginal de la selva,6344699,MisionEl Hospital Regional de la Orinoquia es ...,el Hospital Regional de la Orinoqua ESE se con...,Almacen Hospital Regional de la Orinoquia Cont...,126898133557,NaN,$nan,12/31/21,2022-01-31T11:53:47.000,Yopal,Casanare,PLAN UNICO,85001

In [392]:
df2 = pd.read_csv('D:/Acer/Download/datos_secov_II_modified.csv',sep=';',encoding='latin-1')
df2.shape
df2.head(1)

,identificador_unico,id_plan_anual_de_adquisiciones,anno,nit_entidad,nombre_entidad,mision_vision,perspectiva_estrategica,nombre_contacto,telefono_contacto,correo_contacto,...,presupuesto_menor_cuantia,presupuesto_minima_cuantia,fecha_de_publicacion,fecha_de_creacion,fecha_de_ultima_modificacion,version,identificador_requerimiento_compra,estado,departamento_paa,municipio_paa
0,CO1.APP.2041264,MarketplaceCO1538159,2024,721520377,INSTITUCION EDUCATIVA AGROPECUARIA MAXIMO GOMEZ,MISION 2023 2026 La Institucin Educativa Agrop...,Ser una institucin destacada por sus estrategi...,MARIA EUGENIA LEDESMA LLANTEN,3104661182,mariaeugenia.maestra@gmail.com,...,$26000000.0,$2600000.0,2024-07-31 03:47:42.6041815,2024-08-23 07:11:00.0000000,2024-08-22 20:32:26.391947400,2,CO1.PPI.33807381,Borrador,Cauca,Cajibío

## 3. Determinar el tipo de variables

In [395]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 19 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   identificador_paa           1000 non-null   int64
 1   codigo_entidad              1000 non-null   int64
 2   nombre_entidad              1000 non-null   object
 3   nit_entidad                 1000 non-null   object
 4   anno_paa                    1000 non-null   int64
 5   direccion_entidad           1000 non-null   object
 6   telefono_entidad            1000 non-null   object
 7   mision_y_vision             997 non-null    object
 8   perspectiva_estrategica     950 non-null    object
 9   info_contacto               998 non-null    object
 10  ppto_total                  998 non-null    object
 11  limite_menor_cuantia        990 non-null    object
 12  limite_minima_cuantia       990 non-null    object
 13  fecha_ultima_actualizacion  989 non-null    object
 14  fecha_cargue                1000 non-null   object
 15  municipio_paa               1000 non-null   object
 16  departamento_paa            1000 non-null   object
 17  localidad_paa               1000 non-null   object
 18  codigo_municipio            1000 non-null   int64
dtypes: int64(4), object(15)
memory usage: 148.6+ KB

In [397]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 21 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   identificador_unico                 1000 non-null   object
 1   id_plan_anual_de_adquisiciones      1000 non-null   object
 2   anno                                1000 non-null   int64
 3   nit_entidad                         1000 non-null   object
 4   nombre_entidad                      1000 non-null   object
 5   mision_vision                       1000 non-null   object
 6   perspectiva_estrategica             1000 non-null   object
 7   nombre_contacto                     1000 non-null   object
 8   telefono_contacto                   1000 non-null   object
 9   correo_contacto                     1000 non-null   object
 10  valor_presupuesto_general           1000 non-null   object
 11  presupuesto_menor_cuantia           1000 non-null   object
 12  presupuesto_minima_cuantia          1000 non-null   object
 13  fecha_de_publicacion                1000 non-null   object
 14  fecha_de_creacion                   1000 non-null   object
 15  fecha_de_ultima_modificacion        1000 non-null   object
 16  version                             1000 non-null   int64
 17  identificador_requerimiento_compra  1000 non-null   object
 18  estado                              1000 non-null   object
 19  departamento_paa                    1000 non-null   object
 20  municipio_paa                       1000 non-null   object
dtypes: int64(2), object(19)
memory usage: 164.2+ KB

## 4. Limpieza NIT

4.1 Aplicaremos limpieza de la variable **nit_entidad** para realizar merge y limpiar las bases ya unificadas

 Aplicar las funciones revisadas, según cada tipo de variable. Realizar la limpieza de la variable NIT proveedor.
| Aplicar las funciones revisadas, para la transformación del dato y cambiar su tipo

In [400]:
#Verificar longitud de la columna nit df1
df1['nit_entidad'].str.len()

0       9
1       9
2      11
3       9
4      11
       ..
995     9
996     9
997    11
998     9
999     9
Name: nit_entidad, Length: 1000, dtype: int64

In [402]:
#Verificar longitud de la columna nit df2
df2['nit_entidad'].str.len()

0       9
1       9
2       9
3       9
4       9
       ..
995    11
996    11
997    11
998     9
999     9
Name: nit_entidad, Length: 1000, dtype: int64

In [404]:
#Definir función para limpieza de NIT
def limpieza_nit (df: pd.DataFrame, column_name:object):
    df[column_name]= df[column_name].str.strip()
    df[column_name]= df[column_name].replace("  ","")
    df[column_name]= df[column_name].replace(" ","")
    df[column_name]= df[column_name].replace('[^\\w\\d\\s\\.]','',regex=True)
    df[column_name]= df[column_name].replace('$','')
    return df

In [406]:
#Aplicar función df1
limpieza_nit (df1,'nit_entidad')
df1.sample()

,identificador_paa,codigo_entidad,nombre_entidad,nit_entidad,anno_paa,direccion_entidad,telefono_entidad,mision_y_vision,perspectiva_estrategica,info_contacto,ppto_total,limite_menor_cuantia,limite_minima_cuantia,fecha_ultima_actualizacion,fecha_cargue,municipio_paa,departamento_paa,localidad_paa,codigo_municipio
319,281708,266088022,RISARALDA ESE HOSPITAL SAN JOS DE BELN DE UMBRA,No Definido,2021,CRA 13 4 135,096 3528128,MISION La ESE Hospital San Jos de Beln de Umbr...,Mejorar la cobertura de nuestros servicios pri...,Juan Esteban Bernal Villa ...,6966705000,290728320,$290728320,7/9/21,2021-07-09T03:21:02.000,Belén de Umbría,Risaralda,UNICO PLAN,66088

In [408]:
#Aplicar función df2
limpieza_nit (df2,'nit_entidad')
df2.sample(1)

,identificador_unico,id_plan_anual_de_adquisiciones,anno,nit_entidad,nombre_entidad,mision_vision,perspectiva_estrategica,nombre_contacto,telefono_contacto,correo_contacto,...,presupuesto_menor_cuantia,presupuesto_minima_cuantia,fecha_de_publicacion,fecha_de_creacion,fecha_de_ultima_modificacion,version,identificador_requerimiento_compra,estado,departamento_paa,municipio_paa
763,CO1.APP.1911624,MarketplaceCO1418742,2024,7024430293,POLICIA METROPOLITANA DE IBAGUE - UPRES TOLI...,MISION La Direccin de Sanidad tiene como...,Perspectiva estratgica La Direccin de Sanidad ...,FERNEY ANDRES BARBOSA MORALES,3505561156,detol.upres@correo.policia.gov.co,...,1300000000.0,130000000.0,2024-01-18 02:15:54.1774302,2024-08-09 19:40:53.0000000,2024-05-15 14:41:25.504397800,6,CO1.PPI.31508493,Publicado,Tolima,Ibagué

In [410]:
#Extraer los primeros 9 dígitos de la variable nit_entidad
def extraer_9digitos(df,column_name):
    df[column_name]=df[column_name].str[0:9]
    return df

In [412]:
#Aplicar función extraer_9digitos df1
extraer_9digitos (df1,'nit_entidad')
df1.sample(1)

,identificador_paa,codigo_entidad,nombre_entidad,nit_entidad,anno_paa,direccion_entidad,telefono_entidad,mision_y_vision,perspectiva_estrategica,info_contacto,ppto_total,limite_menor_cuantia,limite_minima_cuantia,fecha_ultima_actualizacion,fecha_cargue,municipio_paa,departamento_paa,localidad_paa,codigo_municipio
54,290130,225001122,CUNDINAMARCA FONDO DE DESARROLLO DE PROYECTOS...,900258772,2021,5712432328,wwwfondecungovco,Son objetivos Estrategicos del Fondo de Desarr...,Son objetivos Estrategicos del Fondo de Desarr...,anietofondecungovco,$3978352340,$nan,NaN,12/31/21,2022-01-07T11:31:16.000,Bogotá D.C.,Bogotá D.C.,UNICO PLAN,1101

In [414]:
#Aplicar función extraer_9digitos df2
extraer_9digitos (df2,'nit_entidad')
df2.sample(1)

,identificador_unico,id_plan_anual_de_adquisiciones,anno,nit_entidad,nombre_entidad,mision_vision,perspectiva_estrategica,nombre_contacto,telefono_contacto,correo_contacto,...,presupuesto_menor_cuantia,presupuesto_minima_cuantia,fecha_de_publicacion,fecha_de_creacion,fecha_de_ultima_modificacion,version,identificador_requerimiento_compra,estado,departamento_paa,municipio_paa
862,CO1.APP.1369806,MarketplaceCO1216885,2022,718177322,INSTITUCION EDUCATIVA DEPARTAMENTAL RICARDO HI...,1 LA MISION DE LA IEDRICARDO HINESTROSA es de...,La IEDRICARDO HINESTROSA DAZA de LA VEGA se pr...,INSTITUCION EDUCATIVA RICARDO HINESTROZA DAZA,3226800090,iedrhida@yahoo.com,...,28000000.0,280000000.0,2022-08-24 20:43:50.9833207,2024-08-09 19:40:53.0000000,2022-12-05 01:06:55.611346900,8,CO1.PPI.22010377,Publicado,Cundinamarca,La Vega

In [416]:
#Probar que quede correcto
df1['nit_entidad'].str.len()

0      9
1      9
2      9
3      9
4      9
      ..
995    9
996    9
997    9
998    9
999    9
Name: nit_entidad, Length: 1000, dtype: int64

In [418]:
df1['nit_entidad'].value_counts()

nit_entidad
No Defini    48
800099489     3
892099234     3
800095760     3
800102801     3
             ..
806014388     1
800229887     1
821002935     1
890706623     1
812001531     1
Name: count, Length: 884, dtype: int64

In [420]:
len(df1["nit_entidad"].unique())

884

#### Considerando que el NIT no es un identificador único para ambos Df no es posible realizar merge, por otro lado analizando las demás variables notamos que las variables listadas a continuación difieren aunque su etiqueta es similar:

**identificador_paa (SECOPI)**: Código generado en la plataforma para identificar la Entidad que publica tanto los procesos como el Plan Anual de Adquisiciones 6 digítos númericos 

**identificador_unico SECOPII**: Identificador unico del plan anual de adquisiones 7 dígitos númericos y el texto 'C01.AP'

Por tanto, realizaremos limpieza texto y númerica de ambos Df y luego escogeremos las columnas para realizar concatenar

## 5. Limpieza Texto

### 5.1 Limpieza df1

In [423]:
#Definir una función para limpiar variables tipo texto
def limpieza_str (df: pd.DataFrame, column_name:object):
    df[column_name]= df[column_name].str.strip()
    df[column_name] =df[column_name].str.upper()
    df[column_name]= df[column_name].replace("  ","")
    df[column_name]= df[column_name].replace(" ","")
    df[column_name]= df[column_name].replace('[^\\w\\d\\s\\.]','',regex=True)
    df[column_name]= df[column_name].replace('$','')
    df[column_name]= df[column_name].replace('\\-','')
    df[column_name]= df[column_name].str.replace('Á', 'A') ## limpieza de las tildes 
    df[column_name]= df[column_name].str.replace('É', 'E')
    df[column_name]= df[column_name].str.replace('Í', 'I')
    df[column_name]= df[column_name].str.replace('Ó', 'O')
    df[column_name]= df[column_name].str.replace('Ú', 'U')
    return df

In [425]:
#Identificar las columnas tipo texto df1
columnas_str = df1.select_dtypes(include=['object']).columns.tolist()
print(columnas_str)

['nombre_entidad', 'nit_entidad', 'direccion_entidad', 'telefono_entidad', 'mision_y_vision', 'perspectiva_estrategica', 'info_contacto', 'ppto_total', 'limite_menor_cuantia', 'limite_minima_cuantia', 'fecha_ultima_actualizacion', 'fecha_cargue', 'municipio_paa', 'departamento_paa', 'localidad_paa']

In [427]:
limpieza_str (df1,'nombre_entidad')
limpieza_str (df1,'direccion_entidad')
limpieza_str (df1,'telefono_entidad')
limpieza_str (df1,'mision_y_vision')
limpieza_str (df1,'perspectiva_estrategica')
limpieza_str (df1,'info_contacto')
limpieza_str (df1,'ppto_total')
limpieza_str (df1,'limite_menor_cuantia')
limpieza_str (df1,'limite_minima_cuantia')
limpieza_str (df1,'municipio_paa')
limpieza_str (df1,'departamento_paa')
limpieza_str (df1,'localidad_paa')
df1.sample(1)

,identificador_paa,codigo_entidad,nombre_entidad,nit_entidad,anno_paa,direccion_entidad,telefono_entidad,mision_y_vision,perspectiva_estrategica,info_contacto,ppto_total,limite_menor_cuantia,limite_minima_cuantia,fecha_ultima_actualizacion,fecha_cargue,municipio_paa,departamento_paa,localidad_paa,codigo_municipio
109,284798,268307019,SANTANDER INSTITUTO MIGUEL SNCHEZ HINESTROZA,804009377,2021,VEREDA ACAPULCO RUITOQUE,3114402219,MISINEL INSTITUTO MIGUEL SNCHEZ HINESTROZA ES ...,EN EL COLEGIO MIGUEL SANCHEZ TENEMOS COMO POLI...,HUGO AGUILAR RODRIGUEZ,8163267674,20 SMMLV,20 SMMLV,8/31/21,2021-09-02T11:21:01.000,GIRON,SANTANDER,UNICO PLAN,68307

### 5.2 Limpieza df2

In [430]:
#Identificar las columnas tipo texto df2
columnas_str2 = df2.select_dtypes(include=['object']).columns.tolist()
print(columnas_str2)

['identificador_unico', 'id_plan_anual_de_adquisiciones', 'nit_entidad', 'nombre_entidad', 'mision_vision', 'perspectiva_estrategica', 'nombre_contacto', 'telefono_contacto', 'correo_contacto', 'valor_presupuesto_general', 'presupuesto_menor_cuantia', 'presupuesto_minima_cuantia', 'fecha_de_publicacion', 'fecha_de_creacion', 'fecha_de_ultima_modificacion', 'identificador_requerimiento_compra', 'estado', 'departamento_paa', 'municipio_paa']

In [432]:
limpieza_str (df2,'identificador_unico')
limpieza_str (df2,'id_plan_anual_de_adquisiciones')
limpieza_str (df2,'nit_entidad')
limpieza_str (df2,'nombre_entidad')
limpieza_str (df2,'mision_vision')
limpieza_str (df2,'perspectiva_estrategica')
limpieza_str (df2,'nombre_contacto')
limpieza_str (df2,'telefono_contacto')
limpieza_str (df2,'correo_contacto')
limpieza_str (df2,'valor_presupuesto_general')
limpieza_str (df2,'presupuesto_menor_cuantia')
limpieza_str (df2,'presupuesto_minima_cuantia')
limpieza_str (df2,'identificador_requerimiento_compra')
limpieza_str (df2,'estado')
limpieza_str (df2,'departamento_paa')
limpieza_str (df2,'municipio_paa')
df2.sample(1)

,identificador_unico,id_plan_anual_de_adquisiciones,anno,nit_entidad,nombre_entidad,mision_vision,perspectiva_estrategica,nombre_contacto,telefono_contacto,correo_contacto,...,presupuesto_menor_cuantia,presupuesto_minima_cuantia,fecha_de_publicacion,fecha_de_creacion,fecha_de_ultima_modificacion,version,identificador_requerimiento_compra,estado,departamento_paa,municipio_paa
97,CO1.APP.2040608,MARKETPLACECO1421958,2024,701159162,INSTITUCION EDUCATIVA NORMAL SUPERIOR SANTIAGO...,FORMAR MAESTROS DE EXCELENTE CALIDAD HUMANA PE...,OFRECER UN EXCELENTE SERVICIO EDUCATIVO NORMAL...,ORLANDO HOYOS AUSECHA,3364797,TESORERIANORMALSANTIAGODECALIGMAIL.COM,...,585000000.0,58500000.0,2024-01-23 17:47:07.4339209,2024-08-23 07:11:00.0000000,2024-08-22 03:57:04.210489000,22,CO1.PPI.33791627,PUBLICADO,VALLE DEL CAUCA,CALI

## 6. Limpieza Numerica

### 6.1 Transformar variables object a float y eliminar nulos

#### Dataframe df1

In [551]:
#Transformar todo lo que no sea númerico a NaN, de esta manera convertir la variable a float

#nit_entidad
df1['nit_entidad'] = pd.to_numeric(df1['nit_entidad'], errors='coerce')
df1['nit_entidad']= df1['nit_entidad'].astype(int)

#ppto_total
df1['ppto_total'] = pd.to_numeric(df1['ppto_total'], errors='coerce')
df1['ppto_total']= df1['ppto_total'].astype(int)

#limite_menor_cuantia
df1['limite_menor_cuantia'] = pd.to_numeric(df1['limite_menor_cuantia'], errors='coerce')
df1['limite_menor_cuantia']= df1['limite_menor_cuantia'].astype(int)

#limite_minima_cuantia
df1['limite_minima_cuantia'] = pd.to_numeric(df1['limite_minima_cuantia'], errors='coerce')
df1['limite_minima_cuantia']= df1['limite_minima_cuantia'].astype(int)

#Verificar columnas tipo numerico df1
columnas_str3 = df1.select_dtypes(include=['int']).columns.tolist()
print(columnas_str3)

['identificador_paa', 'codigo_entidad', 'nit_entidad', 'anno_paa', 'ppto_total', 'limite_menor_cuantia', 'limite_minima_cuantia', 'codigo_municipio']

In [553]:
#Mostrar valores nulos por cada columna
display(df1.isnull().sum())
#Eliminar los valores nuloa
df1 = df1.dropna()

identificador_paa             0
codigo_entidad                0
nombre_entidad                0
nit_entidad                   0
anno_paa                      0
direccion_entidad             0
telefono_entidad              0
mision_y_vision               0
perspectiva_estrategica       0
info_contacto                 0
ppto_total                    0
limite_menor_cuantia          0
limite_minima_cuantia         0
fecha_ultima_actualizacion    0
fecha_cargue                  0
municipio_paa                 0
departamento_paa              0
localidad_paa                 0
codigo_municipio              0
dtype: int64

#### Dataframe df2

In [563]:
#Transformar todo lo que no sea númerico a NaN, de esta manera convertir la variable a float
#nit_entidad
df2['nit_entidad'] = pd.to_numeric(df2['nit_entidad'], errors='coerce')
df2['nit_entidad']= df2['nit_entidad'].astype(int)

#nit_entidad
df2['valor_presupuesto_general'] = pd.to_numeric(df2['valor_presupuesto_general'], errors='coerce')
df2['valor_presupuesto_general']= df2['valor_presupuesto_general'].astype(int)

df2['presupuesto_menor_cuantia'] = pd.to_numeric(df2['presupuesto_menor_cuantia'], errors='coerce')
df2['presupuesto_menor_cuantia']= df2['presupuesto_menor_cuantia'].astype(int)

df2['presupuesto_minima_cuantia'] = pd.to_numeric(df2['presupuesto_minima_cuantia'], errors='coerce')
df2['presupuesto_minima_cuantia']= df2['presupuesto_minima_cuantia'].astype(int)

columnas_str4 = df2.select_dtypes(include=['int']).columns.tolist()
print(columnas_str4)

['anno', 'nit_entidad', 'valor_presupuesto_general', 'presupuesto_menor_cuantia', 'presupuesto_minima_cuantia', 'version']

In [565]:
#Mostrar valores nulos por cada columna
display(df2.isnull().sum())
#Eliminar los valores nulos
df2 = df2.dropna()

identificador_unico                   0
id_plan_anual_de_adquisiciones        0
anno                                  0
nit_entidad                           0
nombre_entidad                        0
mision_vision                         0
perspectiva_estrategica               0
nombre_contacto                       0
telefono_contacto                     0
correo_contacto                       0
valor_presupuesto_general             0
presupuesto_menor_cuantia             0
presupuesto_minima_cuantia            0
fecha_de_publicacion                  0
fecha_de_creacion                     0
fecha_de_ultima_modificacion          0
version                               0
identificador_requerimiento_compra    0
estado                                0
departamento_paa                      0
municipio_paa                         0
dtype: int64

### 6.2 Crear una función de limpieza numerica

In [571]:
#Crear una función para limpieza de las variables númericas aplicando replace ()
def limpieza_numerica (df: pd.DataFrame, column_name:int):
    df[column_name] = df[column_name].replace("  ","")
    df[column_name] = df[column_name].replace('','0')
    df[column_name] = df[column_name].replace('[^\\d\\.]','',regex=True)
    return df

#### Dataframe df1

In [573]:
#Aplicar limpieza_numerica en df1
limpieza_numerica (df1,'identificador_paa')
limpieza_numerica (df1,'codigo_entidad')
limpieza_numerica (df1,'nit_entidad')
limpieza_numerica (df1,'anno_paa')
limpieza_numerica (df1,'ppto_total')
limpieza_numerica (df1,'limite_menor_cuantia')
limpieza_numerica (df1,'limite_minima_cuantia')
limpieza_numerica (df1, 'codigo_municipio')
df1.sample()

,identificador_paa,codigo_entidad,nombre_entidad,nit_entidad,anno_paa,direccion_entidad,telefono_entidad,mision_y_vision,perspectiva_estrategica,info_contacto,ppto_total,limite_menor_cuantia,limite_minima_cuantia,fecha_ultima_actualizacion,fecha_cargue,municipio_paa,departamento_paa,localidad_paa,codigo_municipio
930,313854,268720011,SANTANDER ALCALDA MUNICIPIO DE SANTA HELENA D...,800099832,2022,CARRERA 4 N 3 40,3143183787,MISION ...,ES EL CUMPLIMIENTO DE LOS OBJETIVOS ESTRATGIC...,DIEGO ALBERTO MENESES MOLINAEMAIL ALCALDIASANT...,1079500000,280000000,28000000,1/28/22,2022-02-15T04:30:42.000,SANTA HELENA DEL OPON,SANTANDER,PLAN UNICO,68720

#### Dataframe df2

In [580]:
#['anno', 'nit_entidad', 'valor_presupuesto_general', 'presupuesto_menor_cuantia', 'presupuesto_minima_cuantia', 'version']
#Aplicar limpieza_numerica en df2
limpieza_numerica (df2,'anno')
limpieza_numerica (df2,'nit_entidad')
limpieza_numerica (df2,'valor_presupuesto_general')
limpieza_numerica (df2,'presupuesto_menor_cuantia')
limpieza_numerica (df2,'presupuesto_minima_cuantia')
limpieza_numerica (df2,'version')
df2.sample()

,identificador_unico,id_plan_anual_de_adquisiciones,anno,nit_entidad,nombre_entidad,mision_vision,perspectiva_estrategica,nombre_contacto,telefono_contacto,correo_contacto,...,presupuesto_menor_cuantia,presupuesto_minima_cuantia,fecha_de_publicacion,fecha_de_creacion,fecha_de_ultima_modificacion,version,identificador_requerimiento_compra,estado,departamento_paa,municipio_paa
362,CO1.APP.2041349,MARKETPLACECO1538290,2024,702886201,ALCALDIA MUNICIPAL DE MIRAFLORES BOYACA,MISIN UN MUNICIPIO COMPROMETIDO CON EL DESARRO...,NO DEFINIDO,NATHALY ALVAREZ GOMEZ,3152435354,NATHALYALVAREZGOMEZ20GMAIL.COM,...,364000000,36400000,2024-01-13 03:53:19.2669100,2024-08-23 07:11:00.0000000,2024-08-22 19:48:40.383477200,250,CO1.PPI.33805100,NO ESPECIFICADO,BOYACA,MIRAFLORES

## 7. Unificar bases de datos SECOP I y SECOP II

Con el fin de concatenar las bases df1 y df2, seleccionaremos de cada DataFrame las columnas que se desean analizar,  

Se excluyen del análisis las siguientes variables están en **SECOPI** pero no en **SECOPII**:  
[codigo_entidad, direccion_entidad, telefono_entidad, localidad_paa, codigo_municipio]  

De igual forma, las variables relacionadas a continuación están en **SECOPII** pero no en **SECOPI**:
[id_plan_anual_de_adquisiciones, fecha_de_publicacion, version, identificador_requerimiento_compra, estado]

### 7.1 Unificar en una sola columna la información de contacto de SECOPII

In [607]:

df2['info_contacto2']=df2[['nombre_contacto','telefono_contacto','correo_contacto']].agg('-'.join,axis=1)
df2['info_contacto2'].head()

0    MARIA EUGENIA LEDESMA LLANTEN-3104661182-MARIA...
1    RAFAEL BASTIDAS SANCHEZ-3136820189-RAFABASTIDA...
2    JULIAN DAVID OLIVEROS SERRANO-8572013-COMPRASL...
3    CARLOS FERNANDO GERMAN CALAO-3127695263-CARLOS...
4    CRISTINA HOLGUIN GRISALES-3223001245-ALMACENLA...
Name: info_contacto2, dtype: object

### 7.2 Definir dos nuevos DataFrame que contengan únicamente las 13 variables a analizar

In [677]:

Df1 = df1[['identificador_paa','nombre_entidad','nit_entidad','anno_paa','mision_y_vision','perspectiva_estrategica','info_contacto','ppto_total',
'limite_menor_cuantia','limite_minima_cuantia','fecha_ultima_actualizacion','fecha_cargue','municipio_paa','departamento_paa']]

Df2 = df2[['identificador_unico','nombre_entidad','nit_entidad','anno','mision_vision','perspectiva_estrategica','info_contacto2','valor_presupuesto_general',
'presupuesto_menor_cuantia','presupuesto_minima_cuantia','fecha_de_ultima_modificacion','fecha_de_publicacion','municipio_paa','departamento_paa']]

#df = df.rename(columns={'A': 'Columna1', 'B': 'Columna2'})
Df2 = Df2.rename(columns={'identificador_unico':'identificador_paa','nombre_entidad':'nombre_entidad','nit_entidad':'nit_entidad','anno':'anno_paa','mision_vision':'mision_y_vision','perspectiva_estrategica':'perspectiva_estrategica','info_contacto2':'info_contacto','valor_presupuesto_general':'ppto_total',
    'presupuesto_menor_cuantia':'limite_menor_cuantia','presupuesto_minima_cuantia':'limite_minima_cuantia','fecha_de_ultima_modificacion':'fecha_ultima_actualizacion','fecha_de_publicacion':'fecha_cargue','municipio_paa':'municipio_paa','departamento_paa':'departamento_paa'})

### 7.3 Concatenar los DataFrame Df1 y Df2

In [679]:
Df1.head(1)

,identificador_paa,nombre_entidad,nit_entidad,anno_paa,mision_y_vision,perspectiva_estrategica,info_contacto,ppto_total,limite_menor_cuantia,limite_minima_cuantia,fecha_ultima_actualizacion,fecha_cargue,municipio_paa,departamento_paa
1,294652,ANTIOQUIA INSTITUCIN EDUCATIVA DBORA ARANGO P...,900196642,2022,MISION LA INSTITUCIN EDUCATIVA DBORA ARANGO DE...,DIRECCIONAR LA INSTITUCIN PARA EL LOGRO DEL HO...,CARLOS ENRIQUE ROJAS SANCHEZ,84026639,0,20000000,12/1/21,2022-01-26T09:43:07.000,MEDELLIN,ANTIOQUIA

In [681]:
Df1.shape

(705, 14)

In [683]:
Df2.head(1)

,identificador_paa,nombre_entidad,nit_entidad,anno_paa,mision_y_vision,perspectiva_estrategica,info_contacto,ppto_total,limite_menor_cuantia,limite_minima_cuantia,fecha_ultima_actualizacion,fecha_cargue,municipio_paa,departamento_paa
0,CO1.APP.2041264,INSTITUCION EDUCATIVA AGROPECUARIA MAXIMO GOMEZ,721520377,2024,MISION 2023 2026 LA INSTITUCIN EDUCATIVA AGROP...,SER UNA INSTITUCIN DESTACADA POR SUS ESTRATEGI...,MARIA EUGENIA LEDESMA LLANTEN-3104661182-MARIA...,98097506,26000000,2600000,2024-08-22 20:32:26.391947400,2024-07-31 03:47:42.6041815,CAJIBIO,CAUCA

In [644]:
Df2.shape

(997, 14)

In [691]:
Df3 = pd.concat([Df1,Df2],axis=0,ignore_index=True)
Df3.sample(2)

,identificador_paa,nombre_entidad,nit_entidad,anno_paa,mision_y_vision,perspectiva_estrategica,info_contacto,ppto_total,limite_menor_cuantia,limite_minima_cuantia,fecha_ultima_actualizacion,fecha_cargue,municipio_paa,departamento_paa
79,270473,VALLE DEL CAUCA ALCALDA LOCAL CONTINENTE EL P...,901070157,2021,MISIONLA LOCALIDAD CONTINENTE EL PAILN GARANTI...,LA ALCALDA LOCAL CONTINENTE EL PAILON SE COMP...,BLENY DEL CARMEN VALLECILLA SEGURA ALCALDESA L...,-2147483648,254387280,25438728,1/31/21,2021-01-31T03:17:49.000,BUENAVENTURA,VALLE DEL CAUCA
1637,CO1.APP.1936860,INSTITUCION EDUCATIVA LAGUNITAS,718172836,2024,LA INSTITUCIN EDUCATIVA LAGUNITAS DEL MUNICIPI...,LA INSTITUCIN EDUCATIVA LAGUNITAS SE PROYECTA ...,CARLOS JULIO EUGENIO MEJIA-3202568966-IEL.MOLA...,17955137,260000000,26000000,2024-05-22 18:36:14.492565400,2024-01-24 21:06:47.8957305,MOLAGAVITA,SANTANDER

In [687]:
Df3.shape

(1702, 14)

## 7. Variables Exploradas

# PARTE II

## 1. Filtro de variables

## 2. Gráficos