# Actividad 2
    
    1. Importar la base de datos y extraer la información básica
        https://www.datos.gov.co/Comercio-Industria-y-Turismo/10-000-Empresas-mas-Grandes-del-Pa-s/6cat-2gcs/about_data
    2. Limpieza de datos
    3. Adecuación de cifras

## 1. Importar la base de datos e identificar estadísticas básicas

### 1.1 Importar base de datos

In [245]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Df2 = pd.read_csv('D:/Acer/Download/10.000_Empresas_mas_Grandes_del_Pa_s_20240822.csv')

### 1.2 Estadísticas básicas y tipos de variables

In [247]:
#Identificar los tipos de variables
Df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   NIT                     20000 non-null  int64
 1   RAZÓN SOCIAL            19998 non-null  object
 2   SUPERVISOR              20000 non-null  object
 3   REGIÓN                  20000 non-null  object
 4   DEPARTAMENTO DOMICILIO  20000 non-null  object
 5   CIUDAD DOMICILIO        20000 non-null  object
 6   CIIU                    20000 non-null  int64
 7   MACROSECTOR             20000 non-null  object
 8   INGRESOS OPERACIONALES  20000 non-null  object
 9   GANANCIA (PÉRDIDA)      20000 non-null  object
 10  TOTAL ACTIVOS           20000 non-null  object
 11  TOTAL PASIVOS           20000 non-null  object
 12  TOTAL PATRIMONIO        20000 non-null  object
 13  Año de Corte            20000 non-null  int64
dtypes: int64(3), object(11)
memory usage: 2.1+ MB

In [372]:
#Visualizar 5 primeras filas del DataFrame
Df2.head()

,NIT,RAZÓN SOCIAL,SUPERVISOR,REGIÓN,DEPARTAMENTO DOMICILIO,CIUDAD DOMICILIO,CIIU,MACROSECTOR,INGRESOS OPERACIONALES,GANANCIA (PÉRDIDA),TOTAL ACTIVOS,TOTAL PASIVOS,TOTAL PATRIMONIO,Año de Corte
0,899999068,ECOPETROL S.A,SUPERFINANCIERA,Bogotá - Cundinamarca,BOGOTA D.C.,BOGOTA D.C.-BOGOTA D.C.,610,MINERO,$144.82,$33.41,$216.85,$125.81,$91.03,2022
1,900112515,REFINERIA DE CARTAGENA S.A.S,SUPERSOCIEDADES,Costa Atlántica,BOLIVAR,CARTAGENA-BOLIVAR,1921,MANUFACTURA,$27.86,$2.19,$42.84,$16.48,$26.36,2022
2,830095213,ORGANIZACIÓN TERPEL S.A.,SUPERFINANCIERA,Bogotá - Cundinamarca,BOGOTA D.C.,BOGOTA D.C.-BOGOTA D.C.,4661,COMERCIO,$23.60,$0.33,$7.48,$4.47,$3.01,2022
3,860069804,CARBONES DEL CERREJON LIMITED,SUPERSOCIEDADES,Bogotá - Cundinamarca,BOGOTA D.C.,BOGOTA D.C.-BOGOTA D.C.,510,MINERO,$16.39,$6.05,$10.45,$9.00,$1.45,2022
4,800021308,DRUMMOND LTD,SUPERSOCIEDADES,Bogotá - Cundinamarca,BOGOTA D.C.,BOGOTA D.C.-BOGOTA D.C.,510,MINERO,$15.27,$2.16,$14.27,$6.34,$7.93,2022

In [374]:
#Tamaño del Dataframe
Df2.shape

(20000, 14)

In [437]:
#Cantidad de empresas a analizar - Contar los valores únicos en una columna del Dataframe
#value_counts(): Cuenta los valores únicos en una columna de un DataFrame.
Df2['RAZÓN SOCIAL'].value_counts()
#Hay establecimientos de comercio que pertenecen a un mismo propietario en sede disnta o en cada ciudad o barrio. Por esta razón la Razón Social se repite

RAZÓN SOCIAL
CONVIAS SAS                                                      4
AGENCIA DE ADUANAS DHL GLOBAL FORWARDING COLOMBIA S.A NIVEL 1    4
AYESA INGENIERIA Y ARQUITECTURA S.A.U SUCURSAL COLOMBIA          3
E.S.E. HOSPITAL SAN RAFAEL                                       3
ÉXITO VIAJES Y TURISMO S.A.S.                                    2
                                                                ..
PROTEIHUEVO SAS                                                  1
GAICA SAS                                                        1
VENTOS COLOMBIA S.A.S.                                           1
PROMOTORA Y OPERADORA DE HOTELES PROMOTEL SA                     1
DISTRIBUIDORA DE MAQUINARIA AGRICOLA Y PECUARIA DIMAP S.A.S.     1
Name: count, Length: 11436, dtype: int64

In [378]:
#Cantidad de empresas a analizar - Contar los valores únicos en una columna del Dataframe. Evidenciamos que hay registros repetidos en la columna NIT
Df2['NIT'].value_counts()

NIT
899999068    2
900640173    2
900180747    2
860534458    2
890302286    2
            ..
900592438    1
901380787    1
900555275    1
900571824    1
830123119    1
Name: count, Length: 11441, dtype: int64

In [380]:
#Filtrar el Df2 por año de corte y luego obtener los valores únicos de la columna para identificar la cantidad de empresas analizadas cada año
len(Df2[Df2['Año de Corte']==2021]['NIT'].unique())

10000

In [382]:
len(Df2[Df2['Año de Corte']==2022]['NIT'].unique())

10000

In [384]:
#Identificar cuántas empresas de las 10000 analizadas en 2021 continúaron en el ranking para 2022
len(set(Df2[Df2['Año de Corte']==2021]['NIT'].unique()) & set(Df2[Df2['Año de Corte']==2022]['NIT'].unique()))

8559

## 2. Limpieza de datos

### 2.1 Crear copia del Dataframe inicial Df2

In [475]:
Df3 = Df2.copy()

### 2.2 Eliminar valores Nulos

In [477]:
#Identificar y eliminar valores nulos (NaN) 
#isnull devuelve un valor bool, cuales valores son true or false del Dfd con isnull().sum() devuelve el # de valores nulos por columna
display(Df3.isnull().sum())

NIT                       0
RAZÓN SOCIAL              2
SUPERVISOR                0
REGIÓN                    0
DEPARTAMENTO DOMICILIO    0
CIUDAD DOMICILIO          0
CIIU                      0
MACROSECTOR               0
INGRESOS OPERACIONALES    0
GANANCIA (PÉRDIDA)        0
TOTAL ACTIVOS             0
TOTAL PASIVOS             0
TOTAL PATRIMONIO          0
Año de Corte              0
dtype: int64

In [479]:
#isnull().sum() devuelve el # de valores nulos por fila
display(Df3.isnull().any(axis=1).sum())

2

In [481]:
#Eliminar 2 filas con valores nulos encontrados 
Df3 = Df3.dropna()
Df3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19998 entries, 0 to 19999
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   NIT                     19998 non-null  int64
 1   RAZÓN SOCIAL            19998 non-null  object
 2   SUPERVISOR              19998 non-null  object
 3   REGIÓN                  19998 non-null  object
 4   DEPARTAMENTO DOMICILIO  19998 non-null  object
 5   CIUDAD DOMICILIO        19998 non-null  object
 6   CIIU                    19998 non-null  int64
 7   MACROSECTOR             19998 non-null  object
 8   INGRESOS OPERACIONALES  19998 non-null  object
 9   GANANCIA (PÉRDIDA)      19998 non-null  object
 10  TOTAL ACTIVOS           19998 non-null  object
 11  TOTAL PASIVOS           19998 non-null  object
 12  TOTAL PATRIMONIO        19998 non-null  object
 13  Año de Corte            19998 non-null  int64
dtypes: int64(3), object(11)
memory usage: 2.3+ MB

### 2.3 Separar CIUDAD DOMICILIO 
La columna contiene el departamento y la ciudad separados por '-' y esta información ya está incluida en DEPARTAMENTO DOMICILIO por lo que se sugiere extraer la ciudad solamente para su análisis.

In [483]:
#Definimos el Df Ciudad en cual se alojará la extracción, expand = true se usa para generar las columnas adicionales. y se les da título
Ciudad = Df3['CIUDAD DOMICILIO'].str.split('-',expand=True)
Ciudad.columns = ['CIUDAD FINAL','DEPARTAMENTO FINAL','2','3','4']
Ciudad.head()

  CIUDAD FINAL DEPARTAMENTO FINAL     2     3     4
0  BOGOTA D.C.        BOGOTA D.C.  None  None  None
1    CARTAGENA            BOLIVAR  None  None  None
2  BOGOTA D.C.        BOGOTA D.C.  None  None  None
3  BOGOTA D.C.        BOGOTA D.C.  None  None  None
4  BOGOTA D.C.        BOGOTA D.C.  None  None  None

In [411]:
#Concatenamos el Df3 y Ciudad para tener una sola base de datos
Df4 = pd.concat([Df3,Ciudad],axis=1)
Df4.head()

,NIT,RAZÓN SOCIAL,SUPERVISOR,REGIÓN,DEPARTAMENTO DOMICILIO,CIUDAD DOMICILIO,CIIU,MACROSECTOR,INGRESOS OPERACIONALES,GANANCIA (PÉRDIDA),TOTAL ACTIVOS,TOTAL PASIVOS,TOTAL PATRIMONIO,Año de Corte,CIUDAD FINAL,DEPARTAMENTO FINAL,2,3,4
0,899999068,ECOPETROL S.A,SUPERFINANCIERA,Bogotá - Cundinamarca,BOGOTA D.C.,BOGOTA D.C.-BOGOTA D.C.,610,MINERO,$144.82,$33.41,$216.85,$125.81,$91.03,2022,BOGOTA D.C.,BOGOTA D.C.,None,None,None
1,900112515,REFINERIA DE CARTAGENA S.A.S,SUPERSOCIEDADES,Costa Atlántica,BOLIVAR,CARTAGENA-BOLIVAR,1921,MANUFACTURA,$27.86,$2.19,$42.84,$16.48,$26.36,2022,CARTAGENA,BOLIVAR,None,None,None
2,830095213,ORGANIZACIÓN TERPEL S.A.,SUPERFINANCIERA,Bogotá - Cundinamarca,BOGOTA D.C.,BOGOTA D.C.-BOGOTA D.C.,4661,COMERCIO,$23.60,$0.33,$7.48,$4.47,$3.01,2022,BOGOTA D.C.,BOGOTA D.C.,None,None,None
3,860069804,CARBONES DEL CERREJON LIMITED,SUPERSOCIEDADES,Bogotá - Cundinamarca,BOGOTA D.C.,BOGOTA D.C.-BOGOTA D.C.,510,MINERO,$16.39,$6.05,$10.45,$9.00,$1.45,2022,BOGOTA D.C.,BOGOTA D.C.,None,None,None
4,800021308,DRUMMOND LTD,SUPERSOCIEDADES,Bogotá - Cundinamarca,BOGOTA D.C.,BOGOTA D.C.-BOGOTA D.C.,510,MINERO,$15.27,$2.16,$14.27,$6.34,$7.93,2022,BOGOTA D.C.,BOGOTA D.C.,None,None,None

In [485]:
#### Eliminar las columnas que ya no usaremos 
Df5= Df4.drop(columns = ['CIUDAD DOMICILIO','DEPARTAMENTO FINAL','2','3','4'])
Df5.head()

,NIT,RAZÓN SOCIAL,SUPERVISOR,REGIÓN,DEPARTAMENTO DOMICILIO,CIIU,MACROSECTOR,INGRESOS OPERACIONALES,GANANCIA (PÉRDIDA),TOTAL ACTIVOS,TOTAL PASIVOS,TOTAL PATRIMONIO,Año de Corte,CIUDAD FINAL
0,899999068,ECOPETROL S.A,SUPERFINANCIERA,BOGOTÁ CUNDINAMARCA,BOGOTA D.C.,610,MINERO,144.82,33.41,216.85,125.81,91.03,2022,BOGOTA D.C.
1,900112515,REFINERIA DE CARTAGENA S.A.S,SUPERSOCIEDADES,COSTA ATLÁNTICA,BOLIVAR,1921,MANUFACTURA,27.86,2.19,42.84,16.48,26.36,2022,CARTAGENA
2,830095213,ORGANIZACIÓN TERPEL S.A.,SUPERFINANCIERA,BOGOTÁ CUNDINAMARCA,BOGOTA D.C.,4661,COMERCIO,23.60,0.33,7.48,4.47,3.01,2022,BOGOTA D.C.
3,860069804,CARBONES DEL CERREJON LIMITED,SUPERSOCIEDADES,BOGOTÁ CUNDINAMARCA,BOGOTA D.C.,510,MINERO,16.39,6.05,10.45,9.00,1.45,2022,BOGOTA D.C.
4,800021308,DRUMMOND LTD,SUPERSOCIEDADES,BOGOTÁ CUNDINAMARCA,BOGOTA D.C.,510,MINERO,15.27,2.16,14.27,6.34,7.93,2022,BOGOTA D.C.

In [487]:
Df5.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19998 entries, 0 to 19999
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   NIT                     19998 non-null  int64
 1   RAZÓN SOCIAL            19998 non-null  object
 2   SUPERVISOR              19998 non-null  object
 3   REGIÓN                  19998 non-null  object
 4   DEPARTAMENTO DOMICILIO  19998 non-null  object
 5   CIIU                    19998 non-null  int64
 6   MACROSECTOR             19998 non-null  object
 7   INGRESOS OPERACIONALES  19998 non-null  object
 8   GANANCIA (PÉRDIDA)      19998 non-null  object
 9   TOTAL ACTIVOS           19998 non-null  object
 10  TOTAL PASIVOS           19998 non-null  object
 11  TOTAL PATRIMONIO        19998 non-null  object
 12  Año de Corte            19998 non-null  int64
 13  CIUDAD FINAL            19998 non-null  object
dtypes: int64(3), object(11)
memory usage: 2.3+ MB

### 2.4 Limpieza de texto

Aplicar las siguientes funciones para realizar limpieza de las vaariables string:
**Strip** : Suprime blancos u otro carácter especificado del final o del principio de una expresión de serie
**Upper**:  Convierte todos los caracteres alfabéticos de la cadena en mayúscula. Todos los caracteres no alfabéticos no sufren cambios
**Replace**: Reemplaza carácteres de una cadena de texo [Tip: **\\w** palabras **\\d** digitos **\\s** espacios **\\.** puntos **^** antitésis]

In [493]:
# Definir una función limpieza_texto para aplicar varias columnas

def limpieza_texto (Df5: pd.DataFrame, column_name:object):
    Df5[column_name]= Df5[column_name].str.strip()
    Df5[column_name]= Df5[column_name].str.upper()
    Df5[column_name]= Df5[column_name].replace("  ","")
    Df5[column_name]= Df5[column_name].replace('[^\\w\\d\\s\\.]','',regex=True)
    Df5[column_name]= Df5[column_name].replace('$','')
    Df5[column_name]= Df5[column_name].replace(['Á','É','Í','Ó','Ú'],['A','E','I','O','U'])
    return Df5

In [495]:
#Aplicar la función limpieza_texto a todas las columnas del Df
limpieza_texto (Df5,'RAZÓN SOCIAL')
limpieza_texto (Df5,'SUPERVISOR')
limpieza_texto (Df5,'REGIÓN')
limpieza_texto (Df5,'DEPARTAMENTO DOMICILIO')
limpieza_texto (Df5,'CIUDAD FINAL')
limpieza_texto (Df5,'MACROSECTOR')
limpieza_texto (Df5,'INGRESOS OPERACIONALES')
limpieza_texto (Df5,'GANANCIA (PÉRDIDA)')
limpieza_texto (Df5,'TOTAL ACTIVOS')
limpieza_texto (Df5,'TOTAL PASIVOS')
limpieza_texto (Df5,'TOTAL PATRIMONIO')
Df5.head()

,NIT,RAZÓN SOCIAL,SUPERVISOR,REGIÓN,DEPARTAMENTO DOMICILIO,CIIU,MACROSECTOR,INGRESOS OPERACIONALES,GANANCIA (PÉRDIDA),TOTAL ACTIVOS,TOTAL PASIVOS,TOTAL PATRIMONIO,Año de Corte,CIUDAD FINAL
0,899999068,ECOPETROL S.A,SUPERFINANCIERA,BOGOTÁ CUNDINAMARCA,BOGOTA D.C.,610,MINERO,144.82,33.41,216.85,125.81,91.03,2022,BOGOTA D.C.
1,900112515,REFINERIA DE CARTAGENA S.A.S,SUPERSOCIEDADES,COSTA ATLÁNTICA,BOLIVAR,1921,MANUFACTURA,27.86,2.19,42.84,16.48,26.36,2022,CARTAGENA
2,830095213,ORGANIZACIÓN TERPEL S.A.,SUPERFINANCIERA,BOGOTÁ CUNDINAMARCA,BOGOTA D.C.,4661,COMERCIO,23.60,0.33,7.48,4.47,3.01,2022,BOGOTA D.C.
3,860069804,CARBONES DEL CERREJON LIMITED,SUPERSOCIEDADES,BOGOTÁ CUNDINAMARCA,BOGOTA D.C.,510,MINERO,16.39,6.05,10.45,9.00,1.45,2022,BOGOTA D.C.
4,800021308,DRUMMOND LTD,SUPERSOCIEDADES,BOGOTÁ CUNDINAMARCA,BOGOTA D.C.,510,MINERO,15.27,2.16,14.27,6.34,7.93,2022,BOGOTA D.C.

### 2.5 Limpieza númerica

In [504]:
#Crear una función para limpieza de las variables númericas aplicando replace ()
def limpieza_numerica (Df5: pd.DataFrame, column_name:int):
    Df5[column_name]= Df5[column_name].replace("  ","")
    Df5[column_name]= Df5[column_name].replace('[^\\d\\.]','',regex=True)
    return Df5

limpieza_numerica (Df5,'NIT')
limpieza_numerica (Df5,'CIIU')
limpieza_numerica (Df5,'Año de Corte')
Df5.head()

,NIT,RAZÓN SOCIAL,SUPERVISOR,REGIÓN,DEPARTAMENTO DOMICILIO,CIIU,MACROSECTOR,INGRESOS OPERACIONALES,GANANCIA (PÉRDIDA),TOTAL ACTIVOS,TOTAL PASIVOS,TOTAL PATRIMONIO,Año de Corte,CIUDAD FINAL
0,899999068,ECOPETROL S.A,SUPERFINANCIERA,BOGOTÁ CUNDINAMARCA,BOGOTA D.C.,610,MINERO,144.82,33.41,216.85,125.81,91.03,2022,BOGOTA D.C.
1,900112515,REFINERIA DE CARTAGENA S.A.S,SUPERSOCIEDADES,COSTA ATLÁNTICA,BOLIVAR,1921,MANUFACTURA,27.86,2.19,42.84,16.48,26.36,2022,CARTAGENA
2,830095213,ORGANIZACIÓN TERPEL S.A.,SUPERFINANCIERA,BOGOTÁ CUNDINAMARCA,BOGOTA D.C.,4661,COMERCIO,23.60,0.33,7.48,4.47,3.01,2022,BOGOTA D.C.
3,860069804,CARBONES DEL CERREJON LIMITED,SUPERSOCIEDADES,BOGOTÁ CUNDINAMARCA,BOGOTA D.C.,510,MINERO,16.39,6.05,10.45,9.00,1.45,2022,BOGOTA D.C.
4,800021308,DRUMMOND LTD,SUPERSOCIEDADES,BOGOTÁ CUNDINAMARCA,BOGOTA D.C.,510,MINERO,15.27,2.16,14.27,6.34,7.93,2022,BOGOTA D.C.

## 3. Adecuación de cifras

In [497]:
# Convertir la variable INGRESOS OPERACIONALES a DECIMALES para poder hacer operaciones matemáticas
# astype(): Convierte el tipo de datos de una columna a un tipo de datos específico.
Df5['INGRESOS OPERACIONALES']= Df5['INGRESOS OPERACIONALES'].astype('float') 
Df5['GANANCIA (PÉRDIDA)']= Df5['GANANCIA (PÉRDIDA)'].astype('float') 
Df5['TOTAL ACTIVOS']= Df5['TOTAL ACTIVOS'].astype('float') 
Df5['TOTAL PASIVOS']= Df5['TOTAL PASIVOS'].astype('float') 
Df5['TOTAL PATRIMONIO']= Df5['TOTAL PATRIMONIO'].astype('float') 
Df5.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19998 entries, 0 to 19999
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   NIT                     19998 non-null  int64
 1   RAZÓN SOCIAL            19998 non-null  object
 2   SUPERVISOR              19998 non-null  object
 3   REGIÓN                  19998 non-null  object
 4   DEPARTAMENTO DOMICILIO  19998 non-null  object
 5   CIIU                    19998 non-null  int64
 6   MACROSECTOR             19998 non-null  object
 7   INGRESOS OPERACIONALES  19998 non-null  float64
 8   GANANCIA (PÉRDIDA)      19998 non-null  float64
 9   TOTAL ACTIVOS           19998 non-null  float64
 10  TOTAL PASIVOS           19998 non-null  float64
 11  TOTAL PATRIMONIO        19998 non-null  float64
 12  Año de Corte            19998 non-null  int64
 13  CIUDAD FINAL            19998 non-null  object
dtypes: float64(5), int64(3), object(6)
memory usage: 2.3+ MB

### 3.1 Clasificación de Empresas según INGRESOS OPERACIONALES usando FOR

In [506]:

Df5['INGRESOS OPERACIONALES'].max()

144.82

In [508]:
Df5['INGRESOS OPERACIONALES'].min()

0.01

In [522]:
#Crear nueva columna TAMAÑO
Nueva_columna = 'PEQUEÑA'
Df5['TAMAÑO'] = [Nueva_columna if x < 74.06 else 'GRANDE' for x in Df5['INGRESOS OPERACIONALES']]
Df5.head()

,NIT,RAZÓN SOCIAL,SUPERVISOR,REGIÓN,DEPARTAMENTO DOMICILIO,CIIU,MACROSECTOR,INGRESOS OPERACIONALES,GANANCIA (PÉRDIDA),TOTAL ACTIVOS,TOTAL PASIVOS,TOTAL PATRIMONIO,Año de Corte,CIUDAD FINAL,TAMAÑO
0,899999068,ECOPETROL S.A,SUPERFINANCIERA,BOGOTÁ CUNDINAMARCA,BOGOTA D.C.,610,MINERO,144.82,33.41,216.85,125.81,91.03,2022,BOGOTA D.C.,GRANDE
1,900112515,REFINERIA DE CARTAGENA S.A.S,SUPERSOCIEDADES,COSTA ATLÁNTICA,BOLIVAR,1921,MANUFACTURA,27.86,2.19,42.84,16.48,26.36,2022,CARTAGENA,PEQUEÑA
2,830095213,ORGANIZACIÓN TERPEL S.A.,SUPERFINANCIERA,BOGOTÁ CUNDINAMARCA,BOGOTA D.C.,4661,COMERCIO,23.60,0.33,7.48,4.47,3.01,2022,BOGOTA D.C.,PEQUEÑA
3,860069804,CARBONES DEL CERREJON LIMITED,SUPERSOCIEDADES,BOGOTÁ CUNDINAMARCA,BOGOTA D.C.,510,MINERO,16.39,6.05,10.45,9.00,1.45,2022,BOGOTA D.C.,PEQUEÑA
4,800021308,DRUMMOND LTD,SUPERSOCIEDADES,BOGOTÁ CUNDINAMARCA,BOGOTA D.C.,510,MINERO,15.27,2.16,14.27,6.34,7.93,2022,BOGOTA D.C.,PEQUEÑA

In [ ]:
FIN